save-exact=true

# this specifies the number of minutes that must pass after a version is published before pnpm will install it (to prevent supply chain attacks)

# https://pnpm.io/supply-chain-security

# https://pnpm.io/settings#minimumreleaseage
minimum-release-age=7200 # 5 days, 
block-exotic-subdeps=true
trust-policy=no-downgrade